.case span,
.section-title,
.text span {
    text-transform: uppercase
}
.case h1,
.text h3 {
    font-weight: 700
}
.case span {
    letter-spacing: 2px
}

.case,
.more {
    margin-bottom: 30px
}

.more {
    border-bottom: 3px solid;
    padding-bottom: 10px
}